.product {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 280px;
  box-shadow: 0 3px 10px 0 black;
  cursor: pointer;
  border-radius: 4px;
  padding-bottom: 10px;
  margin: 10px;
}

.product-detail {
  display: flex;
  flex-direction: row;
  width: 98%;
  padding: 10px;

  box-shadow: 0 3px 10px 0 black;
  border-radius: 4px;
  padding-bottom: 10px;
  margin: 10px;
}

.product-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  row-gap: 10px;
}

.product-image {
  object-fit: cover;
  height: 300px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.item img {
  max-width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.popup {
  width: 400px;
  background-color: rgb(188, 194, 196);
  border-radius: 6px;
  position: absolute;
  top: 70px;
  right: 10px;
  color: black;
  visibility: hidden;
  padding: 10px;
}
.popup-open {
  z-index: 1000;
  visibility: visible;
}

i {
  cursor: pointer;
  font-size: 20px;
}

.margin-left4 {
  margin-left: 4px;
}

.logo-image {
  width: 50px;
  height: 50px;
}

.card-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  row-gap: 10px;
}
